@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald'), local('Oswald-Regular'), url(fonts/Oswald-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(fonts/MaterialIcons-Regular.woff) format('woff'),
    url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #121212;
  background:#222222;
  overflow: hidden;
  z-index: 5;
  font-family: "Oswald", Sans-serif;
  font-size: calc(14px + 1vw);
}

body {
  display: none;
}

#bodyOverlay {
  background: url('../img/noise-texture-overlay_1.png');
  background-size: auto;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  border: none;
  background: none;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  font-size: 40px;
}

.btn:hover {
  color: #E88154;
  transition: color 0.3s ease-in-out;
}

/*  ======================== 
    Bingo Field
    ======================== */ 

#wB_cardsContainer {
  position: absolute;
  bottom: 60px;
  left: 20px;
  right: 20px;
  top: 17%;
  z-index: 1000;
  border: dashed #8C4C27 1px;
  font-family: "Oswald", Sans-serif;
  display: none;
}

.wB_field {
  float: left;
  height: calc(20% - 2px);
  width: calc(20% - 2px);
  border: dashed #8C4C27 1px;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  background: #F2E2C4 url('../img/cardBG.png');
  background-size: auto;
  text-align: center;
  display: flex;
  font-size: calc(14px + 2vw);
  font-style: italic;
  cursor: pointer;
}

.wB_field:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.wB_field_focus {
  transform: scale(1.2) !important;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  box-shadow: 0px 0px 20px 11px rgba(217,174,95,0.5);
}

.wB_field span {
  margin: auto;
  padding: 5px;
  max-width: 100%;
  overflow: hidden;
  line-height: 4.5vh;
  background: none;
}

#wB_fieldTextArea {
  width: 90%;
  resize: none;
  background: none;
  border: none;
  padding: 5%;
  font-family: "Oswald", Sans-serif;
  font-size: calc(14px + 2vw);
  align-items: stretch;
  display: flex;
  line-height: 100%;
}

/*  ======================== 
    Head Bar
    ======================== */ 

.headbar {
  position: absolute;
  font-weight: 400;
  width: auto;
  height: auto;
  z-index: 1000;
  background: none;
  bottom: -3px;
}

#headbar_right {
  right: 14px;
}

#headbar_left {
  left: 14px;
}

/*  ======================== 
    Headline
    ======================== */ 

section.text {
  width: 100%;
  min-width: 295px;
  text-align: center;
  height: 20%;
  margin: 0 auto;
  overflow: hidden;
  opacity: 0.9;
}

section > h1, section > h3 {
  transform: matrix(1, -0.10, 0, 1, 0, 0);
}

section > h1 {
  font-family: "Oswald", Sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 5vh;
  text-shadow: 4px 5px #FFAC69, 6px 7px #D96248;
  margin: -20px;
  overflow: hidden;
  z-index: 500;
}

h1 span {
  display: inline-block;
  vertical-align: middle;
}

span.star {
  font-size: 2vh;
}

section > h3 {
  font-family: "Open Sans", Sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2vh;
  letter-spacing: 0.1em;
  margin-bottom: 10px;  
  position: relative;
  z-index: 501;
  transition: transform 0.3s ease-in-out;
  width: auto;
}

section > h3:before, section > h3:after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 0.75vh;
  border-bottom: 0.75vh solid #121212;
}

section > h3:before {
  margin: 5px 0 0 -110px;
}

section > h3:after {
  margin: 5px 0 0 10px;
}

section > h3:hover {
  transform: matrix(1, -0.05, 0, 1, 0, 0) scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/*  ======================== 
    Material Icons
    ======================== */ 

.mi {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/*  ======================== 
    Dark Mode
    ======================== */

.dark {
  background-color: #222222 !important;
  color: #eeeeee !important;
}

/*  ======================== 
    Shake
    ======================== */

.shake_short {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#noScriptHint {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: calc(14px + 4vw);
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
}

/*  ======================== 
    Info
    ======================== */

#wB_info {
  display: none;
  position: absolute;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  background-color: rgba(242, 226, 196, 0.8);
  overflow: hidden;
  z-index: 1001;
  border: 1px solid #B64926;
  font-family: "Oswald", Sans-serif;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

#wB_info > div {
  position: relative;
  height: 100%;
  width: 100%;
}

#wB_infoCloseBtn {
  position: absolute;
  top: 5px;
  right: 5px;
}

.glass {
  opacity: 0.8;
}

#wB_info table tr td {
  padding-right: 5px;
  border: solid 1px #468966;
}

/*  ======================== 
    Create Room Button
    ======================== */

#wB_createRoomBtn {
    display: none;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    z-index: 999;
}

.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: "Oswald", Sans-serif;
    font-size: calc(14px + 2vw);
    color: white;
    background: #D96248;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    z-index: 1000;
    text-transform: uppercase;
    cursor: pointer;
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #8C4C27;
}

.wrapper span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

.cta span {
    transform: skewX(15deg) 
  }

.cta span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #BF8B4B;
    }
    100% {
        fill: white;
    }
}

/*  ======================== 
    Lobby
    ======================== */

#wB_lobbyContainer {
  display: none;
  margin: 0 auto;
  z-index: 499;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 1%;
  height: 15%;
  overflow-y: hidden;
  overflow-x: auto;
}

.wB_userField {
  height: 98%;
  width: inherit;
  /* background: #D9CAAD url('../img/userFieldBG.png') no-repeat center center fixed;
  background-size: cover; */
  background:
  radial-gradient(circle farthest-side at 0% 50%,#D9BB96 23.5%,rgba(240,166,17,0) 0)21px 30px,
  radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
  linear-gradient(#D9BB96 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#D9BB96 0)0 0,
  linear-gradient(150deg,#D9BB96 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#D9BB96 0)0 0,
  linear-gradient(30deg,#D9BB96 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#D9BB96 0)0 0,
  linear-gradient(90deg,#B71 2%,#D9BB96 0,#D9BB96 98%,#B71 0%)0 0 #D9BB96;
  background-size: 40px 60px;z-index: 500;
  font-family: "Oswald", Sans-serif;
  color: #382F59;
  margin-right: 5px;
  position: relative;
  float: left;
  overflow: hidden;
  border: dashed #8C4C27 2px;
}

.wB_userField input {
  font-family: "Oswald", Sans-serif;
  font-size: 2vh;
  background: none;
  border: none;
  z-index: 502;
  color: #382F59;
  box-sizing: border-box;
}

.wB_userPic {
  height: 65%;
  grid-column: 1;
  grid-row: 1;
  border: 4px solid #D9665B;
  float: left;
  z-index: 501;
  margin: 10px;
}

.wB_userName {
  position: absolute;
  padding: 2px 0px;
  font-size: 2vh;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.wB_userReady {
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  text-align: center;
  font-size: 10vh;
  color: green;
  background: none;
  z-index: 502;
  display: none;
}

#wB_thisUserReady {
  color: gray;
}

#wB_leaveRoomBtn, #wB_autofillBtn {
  display: none;
}