@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: local('Oswald'), local('Oswald-Regular'), url(fonts/Oswald-Regular.ttf) format('truetype');
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    color: #121212;
    background: #F2E2C4;
    overflow: hidden;
}

#wB_container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    top: 20%;
    z-index: 1000;
    border: dashed #8C4C27 1px;
    font-family: "Oswald", Sans-serif;
}

.wB_field {
    float: left;
    height: calc(20% - 2px);
    width: calc(20% - 2px);
    border: dashed #8C4C27 1px;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    background: #F2E2C4;
    text-align: center;
    display: flex;
    font-size: 2vw;
    cursor: pointer;
}

.wB_field:hover {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -webkit-box-shadow: 0px 0px 20px 11px rgba(217,174,95,0.5);
    -moz-box-shadow: 0px 0px 20px 11px rgba(217,174,95,0.5);
    box-shadow: 0px 0px 20px 11px rgba(217,174,95,0.5);
}

.wB_field_focus {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -webkit-box-shadow: 0px 0px 20px 11px rgba(217,174,95,0.5);
    -moz-box-shadow: 0px 0px 20px 11px rgba(217,174,95,0.5);
    box-shadow: 0px 0px 20px 11px rgba(217,174,95,0.5);
}

.wB_field span {
    margin: auto;
}

#wB_fieldTextArea {
    height: 100%;
    width: 100%;
    resize: none;
    background: none;
    border: none;
    padding: 5%;
    font-family: "Oswald", Sans-serif;
    font-size: 2vw;
}

/*  ======================== 
    Headline
    ======================== */ 

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

section.text {
  width: 100%;
  text-align: center;
  height: 20%;
  margin: 0 auto;
  overflow: hidden;
}

h1, h3 {
  transform: matrix(1, -0.10, 0, 1, 0, 0);
  -ms-transform: matrix(1, -0.10, 0, 1, 0, 0);
  -webkit-transform: matrix(1, -0.10, 0, 1, 0, 0);
}

h1 {
  font-family: "Oswald", Sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 6vh;
  text-shadow: 4px 5px #F2E2C4, 6px 7px #D96248;
  margin: -20px;
  overflow: hidden;
}

h1 span {
  display: inline-block;
  vertical-align: middle;
}

span.star {
  font-size: 3vh;
}

h3 {
  font-family: "Open Sans", Sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3vh;
  letter-spacing: 0.1em;
  margin-bottom: 10px;  
  position: relative;
}

h3:before, h3:after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 0.75vh;
  border-bottom: 0.75vh solid #121212;
}

h3:before {
  margin: 5px 0 0 -110px;
}

h3:after {
  margin: 5px 0 0 10px;
}